.page {
    margin-left: 15%;
}

/*Sezione barra di navigazione*/

.navbar {
    background-color: #666633;
    border-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style: solid;
    margin-top: 10px;
    width: 80%;
}

.titlediv {
    margin: 10px;
    height: 40px;
    width: 15%;
}

.buttondiv {
    float: right;
    margin-top: -45px;
    margin-right: 10px;
    height: fit-content;
    width: fit-content
}

.title {
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}

.link {
    text-decoration: none;
    color: black;
}

.link2 {
    text-decoration: none;
    font-size: 25px;
    color: white;
}

.button {
    border-color: black;
    background-color: white;
    border-radius: 5px;
    font-size: medium;
}

.button:hover {
    background-color: rgba(240, 240, 0, 0.678);
}

.link:hover {
    color: black;
}

.link2:hover {
    color: rgba(240, 240, 0, 0.678);
    font-size: 20px;
    font-size: x-large;
}

/*Sezione principale*/

.main{
    background-color: #666633;
    border-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;

    margin-top: -2px;

    width: 80%;
}

.data{
    background-color: #414120;
    border-color: black;
    border-style: solid;
    border-radius: 10px;

    padding: 10px;
    margin: 10px;
    
    width: fit-content;
}

.paragraf {
    width: fit-content;
    height: fit-content;
    margin-left: 10px;
    font-size: 20px;
    color: white;
}

.minip{
    width: fit-content;
    height: fit-content;
    margin-left: 10px;
    font-size: 15px;
    color: white;
}

.textarea{
    background-color: #414120;
    border-color: black;
    border-style: solid;
    border-radius: 10px;

    padding: 10px;
    margin: 10px;

    text-align: justify;

    color: white;
    font-weight: bold;
    
    width: 95%;
}

.img{
    float: right;

    width: 27%;
    height: fit-content;

    margin-top: -195px;
    margin-right: 0px;
}
.image{
    width: 65%;
    height: auto;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
}

footer {
    position:absolute;
    width:1200px;
    height:auto;
    bottom:-300px;

    left:48%;
    margin-left:-600px;

    padding: 10px 20px;
    background: #666;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius:20px
}