.page {
    margin-left: 15%;
    font-family: Candara;
}

/*Sezione barra di navigazione*/

.navbar {
    background-color: #414120;
    border-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style: solid;
    margin-top: 10px;
    width: 80%;
}
.titlediv {
    margin: 10px;
    height: 40px;
    width: 15%;
}
.buttondiv {
    float: right;
    margin-top: -45px;
    margin-right: 10px;
    height: fit-content;
    width: fit-content
}
.title {
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}
.link {
    text-decoration: none;
    color: black;
}
.link2 {
    text-decoration: none;
    font-size: 25px;
    color: white;
}
.button {
    border-color: black;
    background-color: white;
    border-radius: 5px;
    font-size: medium;
}
.button:hover {
    background-color: rgba(240, 240, 0, 0.678);
}
.link:hover {
    color: black;
}
.link2:hover {
    color: rgba(240, 240, 0, 0.678);
    font-size: 20px;
    font-size: x-large;
}

/*Sezione principale*/

.main{
    background-color: #666633;
    border-color: black;
    border-style: solid;

    margin-top: -2px;

    width: 80%;
}
.data{
    background-color: #414120;
    border-color: black;
    border-style: solid;
    border-radius: 10px;

    padding: 15px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 180px;
    
    width: fit-content;
}
.paragraf {
    width: fit-content;
    height: fit-content;

    font-size: 20px;
    color: white;
}
.minip{
    width: fit-content;
    height: fit-content;
    font-size: 15px;
    color: white;
}
.textarea{
    background-color: #414120;
    border-color: black;
    border-style: solid;
    border-radius: 10px;

    padding: 10px;
    margin: 10px;

    text-align: justify;

    color: white;
    font-weight: bold;

    margin-bottom: 25px;
    
    width: 96%;
}
.img{
    float: right;

    width: 50%;
    height: fit-content;

    margin-top: -35%;
    margin-right: -16.2%;
}
.image{
    width: 65%;
    height: auto;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
}

/* Sezione foote*/

.footer {
    background-color: #414120;
    border-color: black;
    border-style: solid;
    border-color: black;

    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    width: 79.2%;

    margin-top: -2px;
    padding-left: 10px;

    color: white;
}
