.page {
    margin-left: 5%;
    font-family: Candara;
}

/*Sezione barra di navigazione*/

.navbar {
    background-color: #414120;
    border-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style: solid;
    margin-top: 10px;
    width: 95%;
}
.titlediv {
    margin: 10px;
    height: 40px;
    width: 15%;
}
.buttondiv {
    float: right;
    margin-top: -45px;
    margin-right: 10px;
    height: fit-content;
    width: fit-content
}
.title {
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}
.link {
    text-decoration: none;
    color: black;
}
.link2 {
    text-decoration: none;
    font-size: 25px;
    color: white;
}
.button {
    border-color: black;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
}
.button:hover {
    background-color: rgba(240, 240, 0, 0.678);
}
.link:hover {
    color: black;
}
.link2:hover {
    color: rgba(240, 240, 0, 0.678);
    font-size: 20px;
    font-size: x-large;
}

/*Sezione principale della pagina*/

.body {
    background-color: #666633;
    border-color: black;
    border-style: solid;
    margin-top: -2px;
    padding-bottom: 30px;
    width: 95%;
}
.name{
    margin-left: 10px;
    margin-bottom: 0px;
    font-size: 25px;
    color: white;
    font-weight: bold;
}
.acid{
    border-color: black;
    background-color: white;
    border-radius: 5px;

    margin-top: 10px;

    font-size: medium;
}
.form {
    margin-left: 10px;
    font-size: 18px;
}
select {
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 2px;

    margin-top: 10px;

    cursor: pointer;
    font-size: medium;
}
select:hover {
    background-color: rgba(240, 240, 0, 0.678);
}
.paragraf {
    width: fit-content;
    height: fit-content;
    margin-left: 10px;
    font-size: 20px;
    color: white;
    margin-bottom: 5px;
}

/*Sezione dei grafici*/

.g1 {
    border-color: black;
    background-color: #414120;
    border-radius: 10px;
    border-style: solid;
    margin: 10px;
    height: 400px;
    width: 48%;
}
.g2 {
    border-color: black;
    background-color: #414120;
    border-radius: 10px;
    border-style: solid;
    margin: 10px;
    margin-top: -413px;
    height: 400px;
    width: 48%;
    float: right;
}
.inputtx2 {
    border-color: black;
    background-color: #414120;
    border-radius: 10px;
    border-width: 2px;

    text-align: justify;
    margin-top: 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 99%;
    height: 200px;
    padding: 5px;
    font-size: 15px;
}
.button2 {
    border-color: black;
    background-color: white;
    border-radius: 5px;
    float: right;
    margin-top: 10px;
    cursor: pointer;
    margin-right: 15px;
    font-size: medium;
}
.button2:hover {
    background-color: rgba(240, 240, 0, 0.678);
}

/* Sezione del footer*/

.footer{
    background-color: #414120;
    border-color: black;
    border-style: solid;
    border-color: black;

    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    width: 94.30%;

    margin-top: -2px;
    padding-left: 10px;

    color: white;
}

/* Sezione Grafici */

.graph{
    width: 100%;
    height: 100%;

    color: red;

    border-radius: 10px;
}