.page{
    margin-left: 5%;}

/*Sezione barra di navigazione*/

.navbar{
    background-color: #666633;
    border-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style: solid;

    margin-top: 10px;
    width:95%;}
.titlediv{
    margin: 10px;
    height: 40px;
    width: fit-content}
.buttondiv{    
    float: right;

    margin-top: -45px;
    margin-right: 10px;
    height: fit-content;
    width: fit-content}
.title{
    margin-top: 5px;
    margin-bottom: 5px;
    color:white;}
.link{
    text-decoration: none;
    color: black;}
.button{
    border-color:black;
    background-color: white;
    border-radius: 5px;
    font-size: medium;}
.button:hover{
    background-color: rgba(240, 240, 0, 0.678);}
.link:hover{
    color: black;}

/*Sezione principale della pagina*/

.body{
    background-color: #666633;
    border-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;

    margin-top: -2px;
    padding-bottom: 10px;

    width:95%;}
.form{
    margin-left: 10px;
    font-size: 18px;}
select{
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    font-size: medium;}
.paragraf{
    width: fit-content;
    height: fit-content;
    margin-left: 10px;
    font-size: 20px;
    color: white;
    margin-bottom: 5px;}

/*Sezione dei grafici*/

.inputtx{
    border-color:black;
    background-color: white;
    border-radius: 5px;

    margin-top: 5px;

    width: 25%;
    height: 10px;
    padding: 5px;
    color: black;
    font-weight: bold;
    font-size: medium;}
.g1{
    border-color: red;
    border-style: solid;

    height: 100px;
    width: 50%;

    margin-left: -10px;}
.g2{
    border-color: red;
    border-style: solid;

    height: 100px;
    width: 50%;
    float: right;}